# flask 
flask
flask_sqlalchemy

psycopg2
psycopg2-binary
SQLAlchemy
pandas
netifaces
#os
#date
#exc
gunicorn
gunicorn==20.0.4



for row in df.itertuples():
            if(hasattr(row,'EMAIL')):
               email = row.EMAIL
               customerList = OnlineCustomer.query.filter(OnlineCustomer.Email==email).all() #() OR: from sqlalchemy import or_  filter(or_(User.name == 'ednalan', User.name == 'caite'))
               print(customerList.size)
               data1.append(customerList)
               print("file creating...")
            else:
               phone =str(row.Phone)
               customerList = OnlineCustomer.query.filter(OnlineCustomer.Phone==phone).all() #() OR: from sqlalchemy import or_  filter(or_(User.name == 'ednalan', User.name == 'caite'))
               data1.append(customerList)
               print("file creating...")
      x = x+1
      print(data1.size)

     # outfile = ('data-alt.csv')
      #rows = ['%s,%.6f,%.6f,%i\n' % row for row in zip(*data1)]
     # with open(outfile, 'a') as csvfile:
      #   csvfile.writelines(rows)
      
      for rbc in data1  :
          for j in rbc: # inner loop
             print("file csv creating...")
             data = {'Name':[j.Name],'Email':[j.Email],'Phone':[j.Phone],'Address':[j.Address]} 
             df = pd.DataFrame(data)
             fname="search_"+str(x)+".csv"
             #print("file csv creating...")
             df.to_csv(fname,mode="a",index=False,header=None)

      result = send_file(fname,attachment_filename='search_result.csv', mimetype='text/csv',as_attachment=True)
      #print("file sent, deleting...")
      os.remove(fname)



       chunk_size = 10 ** 5
      csv_file = request.files['file']
      for data in pd.read_csv (csv_file,iterator=True, chunksize=100):   
         df = pd.DataFrame(data) 
         data1 = []
         #sql_query = pd.read_sql(sqlQuery, cnxn)
         tf=[]
         for row1 in df.itertuples():
              tf.append(row1.EMAIL)
         st = OnlineCustomer.query.filter(OnlineCustomer.Email.in_(tf)).all()
         
      size = len(st)
      print(size)
         if st:
          for j in st  :
            data = {'Name':[j.Name],'Email':[j.Email],'Phone':[j.Phone],'Address':[j.Address]}
            df = pd.DataFrame(data)
            fname="search_"+str(x)+".csv"
             #print("file csv creating...")
            df.to_csv(fname,mode="a",index=False,header=None)
      result = send_file(fname,attachment_filename='search_result.csv', mimetype='text/csv',as_attachment=True)
      #print("file sent, deleting...")
      os.remove(fname)
      return "dd"
     

