{% extends 'header.html' %}

{% block body %}

<div class="container">
    <div class="row">
     <div class="col-8">
          <ul class="flashes">
             <h1 class="message_flash" style="color:Green;">Checking Valid System </h1>
            
         </ul>
         <form action="" method="post" autocomplete="off"> 
            <input type="hidden" class="form-control" name="ipaddress1" id="ipaddress1"  placeholder="ssdsName"/> 
            <div class="col" align="right">
                <input type="submit" value="Click Here to go index file" class="form-control btn btn-primary " name=""> 
                </div>
        </form>
        
     </div>
    </div>
</div>
  


{% endblock %}
